<p>pagination2 works!</p>
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Server Side Pagination in angular
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <div class="row mt-5">
    <div class="col-8">
      <mat-form-field>
        <input matInput type="text" placeholder="search" (keyup)="onSearch($event)" [(ngModel)]="search">
      </mat-form-field>

    </div>
  </div>
  <table mat-table [dataSource]="dataSource" style="width: 100%;" matSort>
    <ng-container matColumnDef="Firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onclick()"> Firstname </th>
      <td mat-cell *matCellDef="let element"> {{element.Firstname}} </td>

    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onclick()"> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onclick()"> Mobile </th>
      <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="onclick()"> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="['Firstname', 'email', 'mobile','gender']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['Firstname', 'email', 'mobile','gender'];"></tr>
  </table>
  <mat-paginator (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 15, 20, 30]" showFirstLastButtons>
  </mat-paginator>
</div>
