
<app-hearder></app-hearder>
  <app-slider></app-slider>
     
  <div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header" >
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="data.image" 
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{data.Firstname}} {{data.Lastname}}</h3>

                <!-- <p class="text-muted text-center">Software Engineer</p> -->

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Email</b> <a class="float-right">{{data.email}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Gender</b> <a class="float-right">{{data.gender}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Status</b> <a class="float-right">{{data.status }}</a>
                  </li>
                </ul>

                <a routerLink="/editprofile" class="btn btn-primary btn-block"><b>edit profile</b></a>
              </div>




















            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!-- 
<div class="wrapper">
<div class="container">
    <div  class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5 p-3 shadow" >

            Hello{{data | json}}

     

        </div>

      </div>

    </div>

</div> -->


<app-footer></app-footer>
  


<!-- {{data | json}} -->
